/* Styles for navbar*/
.header-logo {
    max-height: 5em;
}
.brand {
    text-align: start;
}
.header {
    text-align: center;
}
.user {
    text-align: end;
}
.btn-circle {
    border-radius: 50%;
}
.top-row{
    margin-top: 0.75em;
    margin-bottom: 2em;
}
.btn.outline {
    background:none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #000;
}
.dropdown-menu {
    padding-left: 0.5em;
}
.dropdown-menu a {
    color: #000;
}
.dropdown-item {
    margin-top: 0.5em;
}
/*End styles for navbar*/

/* Styles for tab content */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-user {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab-user button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab-user button:hover {
    background-color: #ddd;
}
.tab-user button.active {
    background-color: #ccc;
}
.user-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* End Styles for tab content */
/* Styles for footer */
footer {
    background-color: #cbcdd3;
    color: #000;
    margin-top:2em;
    width:100%;
    text-align:center;
    position:fixed;
    bottom:0;
}
/* End styles for footer */

/* Main styles */
body{
    margin-bottom:5em;
}
.panel {
    border: 1px solid #ccc;
    padding-bottom:2em;
}
/* End main styles */
/* Login styles*/
#error-message{
	color: red;
	font-size:0.75em;
}
#success-message{
    color:green;
    text-align:center;
}
.form-sign-in{
	max-width: 330px;
	padding: 15px;
    margin: 0 auto;
}
.form-sign-in .form-sign-in-header{
    margin-bottom: 10px;
    text-align: center;
}
.form-sign-in .form-control{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-sign-in .form-control:focus{
	z-index: 2;
}
.form-sign-in input[type="email"]{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-sign-in input[type="password"]{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.radio-left{
    margin-left: 4em;
    margin-right: 2em;
}
.radio-right{
    margin-left: 2em;
}
/*End login styles*/
/* My Account styles */
.edit-text{
    display:block;
    float:left;
    margin-bottom:0.5em;
}
.btn-custom-edit{
    display:block;
    float:left;
    width: 12%;
    margin-right:1em;
    margin-bottom:0.5em;
}
.btn-custom{
    margin-top: 1em;
    width: 30%;
}
.btn-custom a{
    text-transform:none;
    color:white;
}
.client-profile-image{
    margin-top:0.5em;
    height:8em;
    width:8em;
    border: 1px solid black;
}
.profile-content{
    position:relative;
    margin-top:0.5em;
}
.profile-content h3{
    padding-top:1.5em;
    margin-left:3em;
}
.profile-content img{
    position:absolute;
    top:1em;
    height:5em;
    width:5em;
}
/*End my account styles */
/*Account editing styles*/
.edit-info{
    text-align:center;
}
.edit-info label{
    display:inline-block;
    width:300px;
    text-align:right;
    margin-right:1em;
    margin-bottom:0.75em;
}
.edit-info h2{
    text-align:center;
}
.btn-custom-save{
    margin-left:50%;
    margin-right:50%;
}
.edit-info .note{
    margin-bottom:2em;
    font-size:0.6em;
}
/*End account editing styles*/
/* Admin styles */
.table-header{
    font-weight: bold;
}
.table-label{
    font-weight: bold;
}
.table img{
    height:3em;
    width:3em;
}
.info{
    text-align: center;
    color:white;
    background-color: green;
    padding: 1em 4em 1em 4em;
}
[contenteditable="true"]{
    background-color: #e6f9ff;
}
[contenteditable="true"]:active,
[contenteditable="true"]:hover,
[contenteditable="true"]:focus{
    background-color: #b3ecff;
}
/* End admin styles */